python==3.12
torch==2.2.1+cu121
umap-learn==0.5.6
tqdm==4.66.5
transformers==4.45.1
sentence-transformers==3.0.1
torch_geometric==2.5.3
optuna==4.0.0
pandas==2.2.2
numpy==1.26.3
matplotlib==3.9.2
networkx==3.2.1
scikit-learn==1.5.1
